* {
    box-sizing: border-box;
}

*:not(code) { 
    font-family: Arial, Helvetica, sans-serif !important;
}

h1 {
    color: white;
}

header {
    background-color: #f6a228;
    padding: 180px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
/* Search bar */
header input {
    width: 100%;
    max-width: 450px;
    min-width: 250px;
    min-height: 40px;
    border-radius: 100px;
    border: none;
    padding-left: 10px; 
    outline: 2px solid #dd5c34;

    background-image: url('searchicon.svg');
    background-repeat: no-repeat;
    background-position: center left 0.4rem;
    background-size: 1.3em auto;
    padding-left: 2em;
    align-self: end;
}

header input:focus{
    outline: 2px solid #dd5c34;
}

.options-car {
    min-height: 60px; 
    position: relative;
}

.options-car ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 10px;
}

.options-car li{
    width: 100px;
    height: 50px;
    border-radius: 8px;
    background-color: #39375c;
    color: white;

    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

header .back-button a{
    border: 2px solid #39375c;
    background-color: #39375c33;
    color: #39375c;
    border-radius: 6px;
    padding: 10px 14px;
    text-align: left;
    position: fixed;
    top: 20px;
    left: 20px;
    text-decoration: none;
    z-index: 9999; /*  IMPORTANT */
}

header .back-button a:hover {
    background-color: #39375c;
    color: white;
}

header .back-button a:visited {
    text-decoration: none;
}

td.hljs-ln-line.hljs-ln-code {
    justify-self: left;
}

main {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 10px 20px;
    flex-wrap: wrap;  
}

.code-card {
    width: 420px;
    min-height: 350px;
    background: #dd5c34;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.code-block {
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
}

.code-card h3 {
    color: white;
}

code {
    border-radius: 12px;
    
}

.language-css.hljs {
    background-color: white;
}
.language-html.hljs {
    background-color: white;
}
.language-javascript.hljs {
    background-color: white;
}

td.hljs-ln-line.hljs-ln-code {
    padding-left: 10px;
}

/* button */
button {
    width: 400px;
    height: 60px;
    min-width: 200px;
    border-radius: 12px;
    background-color: #dd5c34;
    color: white;
    border: none;
    transition: 0.3s;
}

button:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

a.download-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 20px 18px;
    max-width: 200px;
    height: 30px;
    background-color: #39375c;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.2s, transform 0.2s;
    text-transform: uppercase;
    font-size: 12px;
    
}

a.download-link:hover {
    background-color: #dd5c34; 
    transform: translateY(-2px);
}

/* 3D */
#container3D {
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #dd5c34;
    border-radius: 10px;
    margin-top: 20px;
}

/* 3D */
#container3D_2 {
  position: fixed;      
  bottom: 20px;         
  right: 20px;     
  width: 120px;        
  height: 120px;        
  z-index: 9999;        
  pointer-events: none; 
}




@media only screen and (max-width: 1264px) {
    header .back-button a{
        border: 2px solid #39375c;
        background-color: #39375c33;
        color: #39375c;
        border-radius: 6px;
        padding: 20px 24px;
        text-align: left;
        position: fixed;
        top: 20px;
        left: 20px;
        text-decoration: none;
        z-index: 9999; /* IMPORTANT THING THAT I NOTICED */
    }

    header input {
        width: 100%;
        max-width: 500px;
        min-width: 400px;
        min-height: 50px;
    }

}
