* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    background-color: #dd5c34;
    color: white;
    height: 70px;
    padding-left: 10px;
    text-transform: uppercase;
    align-items: center;
    gap: 10px;
}

header img {
    align-items: center;
    width: 60px;
}

#main-logo-site-title {
    width: 120px;
}


main {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

div {
    border: solid 1px;
    max-width: 400px;
    min-width: 400px;
    border-radius: 12px;
    margin: 20px;
    transition: 0.3s;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    justify-self: center;
}

div img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.information-card {
    display: block;
    position: relative;
    border: 0px;
    padding: 10px 12px;
    box-sizing: border-box;
}

.information-card h2,
.information-card p {
        margin: 0;
        padding-bottom: 5px;
    }

div a {
    text-decoration: none;
    color: #39375c;
}

.theWholeCard:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}



@media only screen and (max-width: 1264px) {
    main {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div {
        width: 100%;
        max-width: 600px;
        min-width: 500px;
        margin: 20px 0;
        height: 500px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    p {
        font-size: 25px;
        text-align: center;
    }

    .information-card::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;              
        text-overflow: ellipsis;
        pointer-events: none;     
    }


    div img {
        width: 100%;
        height: 300px;
    }

    header {
        height: 100px;
    }

    #main-logo-site-title {
        width: 180px;
    }

    header img{
        align-items: center;
        width: 80px;
    }

}

@media only screen and (min-width: 1264px) {
    div {
        border: solid 1px;
        max-width: 400px;
        min-width: 400px;
        border-radius: 12px;
        margin: 20px;
        overflow: hidden;
        transition: 0.3s;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    
}